body {
  margin: 0;
  pointer-events: none;
}
img {
  width: 100%;
}
#screen {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: grey;
}

#posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}
